* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(120deg, yellowgreen, pink);
  color: white;
  min-height: 100vh;
  font-family: "Oswald", sans-serif;
}

body::-webkit-scrollbar {
  width: 0.55rem;
}

body::-webkit-scrollbar-track {
  background-color: rgb(243, 208, 155);
}

body::-webkit-scrollbar-thumb {
  background-color: yellowgreen;
}

header {
  font-size: 1.5rem;
}

header,
form {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

form input,
form button {
  border: none;
  padding: 0.5rem;
  background: white;
  font-size: 1.5rem;
  outline: none;
  border: none;
}

form button {
  color: yellowgreen;
  background: white;
  cursor: pointer;
  transition: all 0.3s ease;
}

form button:hover {
  background: yellowgreen;
  color: white;
  border: none;
}

.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-list {
  min-width: 30%;
  list-style: none;
}

.todo {
  margin: 0.5rem;
  background: white;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.5s ease;
}

.todo li {
  flex: 1;
}

.delete-btn,
.check-btn {
  background: rgb(231, 124, 62);
  color: white;
  border: none;
  padding: 1rem;
  cursor: pointer;
  font-size: 1rem;
  outline: none;
  border: none;
}

.check-btn {
  background-color: rgb(154, 216, 154);
}

.todo-item {
  padding: 0rem 0.5rem;
}

.fa-trash,
.fa-check {
  pointer-events: none;
}

.checked {
  text-decoration: line-through;
  opacity: 0.5;
}

.fall {
  transform: translateY(8rem) rotateZ(20deg);
  opacity: 0;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
  border: none;
}

.select {
  margin: 1rem;
  position: relative;
  overflow: hidden;
  outline: none;
  border: none;
}

select {
  color: orangered;
  width: 10rem;
  cursor: pointer;
  padding: 1rem;
}

select option {
  outline: none;
  border: none;
}

.select::after {
  content: "\25BC";
  position: absolute;
  background-color: palegoldenrod;
  top: 0;
  right: 0;
  padding: 1rem;
  pointer-events: none;
  transition: all 0.3s ease;
}

.select:hover::after {
  background: white;
  color: orange;
}

@media only screen and (max-width: 420px) {
  header,
  form {
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  form input {
    max-width: 20vh;
  }

  .select,
  option {
    max-width: 12vh;
  }
}
